body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
}

form {
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type=text],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.card {
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.card h2 {
    text-align: center;
}

.card h4 {
    text-align: center;
}

.card p {
    font-size: 18px;
    text-align: center;
}

.copy-btn {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.copy-btn:hover {
    background-color: #3e8e41;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clipboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 30px;
}

.register-btn {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.register-btn:hover {
    background-color: #007A99;
}

@media (max-width: 600px) {
    .btn-container {
        flex-direction: column;
    }

    .copy-btn,
    .register-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}